
            {% extends 'base_page.html' %}
            {% block content %}
           <div class="container text-md">
                    This chapter will explain overall surface concept of programming in easy form and not too specific<br>
            </div>
            <div class="container text-md">
                    and this will have self experiment that student can run and see their own code in action<br>have fun<br>sad<br>
            </div>
            <div class="container text-md">
                    ewqewqewqe<br>
            </div>
            <div class="container text-md">
                    werewrdsfdswewe<br>
            </div>
            <div class="container text-md">
                    asdsawewdsadwerfewfedw<br>
            </div>
            
            {% endblock %}
            