{% extends 'base_page.html' %}{% block content %}<div class="container text-md">
                    ยินดีต้อนรับเข้าสู่คอร์ส **Programming 101**<br>
            </div>
            <div class="container text-md">
                    Course นี้เหมาะสำหรับคนที่จะเริ่มเรียนรู้การเขียนโปรแกรม<br>คอร์สนี้จะพาคุณไปทีละขั้น จากไม่มีพื้นฐาน จนสามารถแก้ปัญหาเบื้องต้นด้วยโค้ดได้<br>
            </div>
            <div class="container text-md">
                    <h4>สิ่งที่คุณจะได้เรียนรู้จากที่นี้</h4>

            </div>
            <div class="container text-md">
                    - คอมพิวเตอร์เก็บและประมวลผลข้อมูลอย่างไร<br>- การเขียนโปรแกรมคืออะไร และทำไมเราจึงใช้มัน<br>- วิธีเขียนโปรแกรมพื้นฐาน<br>- วิธีคิดแก้ปัญหาและแปลงความคิดเป็นกระบวนการทางคอมพิวเตอร์<br>
            </div>
            <div class="container text-md">
                    <h4>กระบวนการสอนของเนื้อหา</h4>

            </div>
            <div class="container text-md">
                    - อธิบายเนื้อหาทางทฤษฎีที่เข้าใจง่าย เนื่องจาก Course นี้เป็น Course แรกสุด เราจะยังไม่เจาะลึกรายละเอียดมาก<br>- ฝึกทำแบบฝึกหัดทุกอัน<br>- สร้างความมั่นใจก่อนจะไปหัวข้อถัดไป<br>- ในแบบฝึกหัดจะมีการผสมโจทย์ง่ายและโจทย์ท้าทาย เพื่อพัฒนาทักษะอย่างต่อเนื่อง<br>
            </div>
            <div class="container text-md">
                    <h4>วิธีการเรียน</h4>

            </div>
            <div class="container text-md">
                    - ทำตามตัวอย่างในบทเรียน<br>- ลองทำทุกแบบฝึกหัดด้วยตัวเอง<br>- ถามเมื่อมีข้อสงสัย<br>- ฝึกฝนเป็นประจำระหว่างบทเรียน<br>
            </div>
            <div class="container text-md">
                    <h4>จำไว้ว่า</h4>

            </div>
            <div class="container text-md">
                    การเขียนโปรแกรมเป็นทักษะ เหมือนกับการปั่นจักรยานหรือเล่นดนตรี ต้องใช้การฝึกฝน<br>ความผิดพลาดเป็นเรื่องปกติ ทุกข้อผิดพลาดคือโอกาสในการเรียนรู้<br>
            </div>
            <div class="container text-md">
                    มาเริ่มต้นกันเลย<br>
            </div>
            {% endblock %}