{% extends 'base_page.html' %}{% block content %}<div class="container text-md">
                    ยินดีต้อนรับสู่ Course Programming 101<br>
            </div>
            <div class="container text-md">
                    ใน Course นี้จะเป็นการเน้นปูพื้นฐานของนักเรียนให้รู้จักการเขียน Program โดยใช้ภาษา Python ในการแก้โจทย์ปัญหาต่างๆ ซึ่งเมื่อจบ Course นี้แล้ว หวังว่านักเรียนจะรู้จักการเขียนโปรแกรมเบื้องต้นพอที่จะประยุกต์ไปเรียนรู้สิ่งใหม่ๆ ได้<br>
            </div>
            <div class="container text-md">
                    โดยในแต่ละบทเรียนจะมีแบบฝึกหัดต่างๆ ให้นักเรียนฝึก แนะนำให้ฝึกทำทุกแบบฝึกหัดก่อนที่จะไปยังบทถัดไป<br>
            </div>
            <div class="container text-md">
                    <exercise-quiz   name="exercise_1" question="เลือกจำนวน 1 จำนวนที่ถูกต้อง" choices="1,2,3,4" correct_choice="4"></exercise-quiz>
            </div>
            {% endblock %}