
{% extends 'base_page.html' %}
{% block content %}
<div class="container text-md">
                    processor instruction are designed to be easily read by computer. but not human<br>
            </div>
            <div class="container text-md">
                    so, computer processor manufacture invent a programming language that can be easily understand by human<br>
            </div>
            <div class="container text-md">
                    python code<br>```<br>a = 10<br>b = 20<br>c = a+b<br>```<br>
            </div>
            <div class="container text-md">
                    Which is equivalent to instruction set of<br>
            </div>
            <div class="container text-md">
                    Instruction set<br>```<br>SET x0 10<br>SET x1 20<br>SET x2 0<br>ADD x0 x1 x2<br>```<br>
            </div>
            <div class="container text-md">
                    this is for example only, instruction set are vary on processor<br>
            </div>
            <div class="container text-md">
                    The concept of programming is<br>1. Write code and save code<br>2. Run program to make human code to instruction set<br>3. Computer using instruction set<br>
            </div>
            <div class="container text-md">
                    write code -> save code -> compile code -> computer process<br>
            </div>
            <div class="container text-md">
                    we use terminal to run code<br>
            </div>
            
{% endblock %}
