{% extends 'base_page.html' %}{% block content %}<div class="container text-md">
                    คลาสและออบเจกต์ (Class & Object) เป็นแนวคิดสำคัญของการเขียนโปรแกรมเชิงวัตถุ<br>
            </div>
            <div class="container text-md">
                    <h3>การประกาศคลาส</h3>
<pre><code class="language-python">class Person:
    def __init__(self,name):
        self.name = name
    def say(self):
        print(f&quot;สวัสดี {self.name}&quot;)
</code></pre>

            </div>
            <div class="container text-md">
                    <h3>การสร้างออบเจกต์และเรียกใช้เมธอด</h3>
<pre><code class="language-python">p = Person(&quot;Bee&quot;)
p.say()
</code></pre>

            </div>
            <div class="container text-md">
                    <​exercise-quiz   name="class_quiz" question="เมธอดพิเศษที่ใช้สำหรับสร้างออบเจกต์คืออะไร" choices="__init__, __main__" correct_choice="1"></​exercise-quiz>
            </div>
            <div class="container text-md">
                    <h3>แบบฝึกหัด</h3>
<p>สร้างคลาส <code>Car</code> ที่มีคุณสมบัติ <code>brand</code> และเมธอด <code>drive()</code> ที่พิมพ์ข้อความระบุยี่ห้อรถ</p>

            </div>
            {% endblock %}